::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#9393f1, aqua);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#f58dc3, #e82334);
}

/*start of the home page*/
.home {
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
}

.nav-links {
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #111111;
    position: fixed;
    z-index: 2;
}

.nav-image {
    width: 70px;
}

.nav-links ul li {
    list-style: none;
    padding: 10px 18px;
    display: inline-block;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: aqua;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 600;
}

.nav-links ul li a:hover {
    color: rgba(177, 136, 243, 0.97);
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: blueviolet;
    display: block;
    margin: auto;
    transition: 0.7s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.side-bar {
    top: 70px;
    bottom: 0;
    width: 28%;
    background: repeating-linear-gradient(to left, #030113, #020c26, #020c26, #030113);
    position: absolute;
}

.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.2);
    animation: box-animate 10s linear infinite;
    top: -50px;
}

.box-area li:nth-child(1) {
    left: 40%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}


.box-area li:nth-child(2) {
    left: 12%;
    width: 20px;
    height: 20px;
    animation-delay: 1.5s;
}

.box-area li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
    left: 20%;
    width: 10px;
    height: 10px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area li:nth-child(5) {
    left: 65%;
    width: 10px;
    height: 10px;
    animation-delay: 0s;
}

.box-area li:nth-child(6) {
    left: 15%;
    width: 10px;
    height: 10px;
    animation-delay: 3.5s;
}

@keyframes box-animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(800px) rotate(360deg);
        opacity: 1;
    }
}

.my-image {
    position: absolute;
    opacity: 0.8;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
}

.side-bar h3 {
    position: absolute;
    background: -webkit-radial-gradient(#7630e7, aqua);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Stick', sans-serif;
    left: 28%;
    top: 58%;
    font-size: 40px;
}

.main-home {
    background-image: linear-gradient(rgba(1, 6, 35, 0.62), rgba(2, 8, 36, 0.84)), url('../images/backgroundimage.jpeg');
    background-size: cover;
    left: 28%;
    bottom: 0;
    top: 70px;
    right: 0;
    position: absolute;
    overflow: hidden;
}

.star {
    top: 15%;
    left: 70%;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 6px rgba(255, 255, 255, 0.1), 0 0 10px rgba(255, 255, 255, 0.1);
    position: absolute;
    animation: star 4.5s linear infinite;
}

.star::before {
    content: '';
    position: absolute;
    top: 15%;
    left: 70%;
    transform: translateY(-50%);
    width: 100px;
    height: 1px;
    background: linear-gradient(90deg, white, transparent);
}

@keyframes star {
    0% {
        transform: rotate(315deg) translateX(0);
    }
    100% {
        transform: rotate(315deg) translateX(-1000px);
    }
}

.star:first-child {
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 2s;
}

.wave-hand-image {
    position: absolute;
    width: 38%;
    top: 2%;
    right: -14%;
    transform: rotate(-28deg);
    animation: wave 2s infinite;
    animation-delay: 0s;
}

@keyframes wave {
    0% {
        transform: rotate(-28deg);
    }
    50% {
        transform: rotate(-40deg);
    }
    100% {
        transform: rotate(-28deg);
    }
}

.main-home h2 {
    top: 10%;
    left: 10%;
    font-size: 70px;
    color: white;
    position: absolute;
}

.main-home h3 {
    top: 28%;
    left: 10%;
    font-size: 60px;
    word-spacing: 5px;
    color: white;
    position: absolute;
}

.word-name {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
    color: aqua;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes glow {
    from {
        text-shadow: 0 0 2px rgba(134, 228, 233, 1);
    }
    to {
        text-shadow: 0 0 2px rgba(134, 228, 233, 0.5),
        1px 1px 6px rgba(134, 228, 233, 0.5),
        0 1px 5px rgba(134, 228, 233, 0.5);
    }
}

.main-home h5 {
    top: 45%;
    left: 10%;
    font-size: 37px;
    position: absolute;
    font-family: Arial;
    font-weight: bold;
}

.first {
    color: transparent;
    -webkit-text-stroke: 1px #03a9f4;
}

.second {
    color: #03a9f4;
    animation: water-effect 1.8s ease-in-out infinite;
}

@keyframes water-effect {
    0%, 100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

.main-home p {
    top: 70%;
    left: 5%;
    right: 5%;
    font-size: 22px;
    font-weight: 500;
    color: white;
    text-align: justify;
    font-family: Calibri;
    position: absolute;
}

/*end of the home page*/

/*start of the about me page*/
.aboutMe {
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    background: linear-gradient(to bottom left, #04091F, #04091F, #130734, #04091F, #04091F);
    margin: 0;
}

.box-area1 {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 1300px;
    bottom: 0;
    height: 738px;
    overflow: hidden;
}

.box-area1 li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: box-animate1 10s linear infinite;
    top: -80px;
}

.box-area1 li:nth-child(1) {
    left: 40%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}


.box-area1 li:nth-child(2) {
    left: 12%;
    width: 50px;
    height: 50px;
    animation-delay: 1.5s;
}

.box-area1 li:nth-child(3) {
    left: 70%;
    width: 60px;
    height: 60px;
    animation-delay: 5.5s;
}

.box-area1 li:nth-child(4) {
    left: 90%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area1 li:nth-child(5) {
    left: 65%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
}

.box-area1 li:nth-child(6) {
    left: 15%;
    width: 40px;
    height: 40px;
    animation-delay: 3.5s;
}

@keyframes box-animate1 {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(800px) rotate(360deg);
        opacity: 1;
    }
}


.corner-image1 {
    width: 150px;
    right: 0;
    position: absolute;
    transform: rotate(270deg);
}

.corner-image2 {
    width: 150px;
    top: 180vh;
    position: absolute;
    transform: rotate(-270deg);
}

.aboutMe-content h1 {
    margin: 0;
    color: mediumpurple;
    font-family: Calibri;
    font-size: 40px;
    top: 830px;
    left: 20px;
    position: absolute;
}

.line {
    width: 1150px;
    height: 3px;
    top: 855px;
    left: 250px;
    background-color: #3e88ba;
    position: absolute;
}

.gif{
    width: 50px;
    top: 833px;
    left: 195px;
    position: absolute;
}

.aboutMe-image {
    left: 0;
    top: 915px;
    position: absolute;
    width: 450px;
}

.line1 {
    width: 400px;
    height: 2px;
    top: 950px;
    left: 260px;
    background-color: white;
    position: absolute;
}

.name {
    top: 938px;
    left: 680px;
    color: gold;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
}

.my-name {
    top: 936px;
    left: 780px;
    margin: 0;
    font-size: 28px;
    font-family: Calibri;
    color: whitesmoke;
    position: absolute;
}

.line2 {
    width: 282px;
    height: 2px;
    top: 1015px;
    left: 380px;
    background-color: white;
    position: absolute;
}

.birthday {
    top: 1005px;
    left: 680px;
    color: #0be215;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
}

.my-birthday {
    top: 1005px;
    left: 840px;
    margin: 0;
    font-size: 28px;
    font-family: Calibri;
    color: whitesmoke;
    position: absolute;
}

.line3 {
    width: 273px;
    height: 2px;
    top: 1080px;
    left: 390px;
    background-color: white;
    position: absolute;
}

.city {
    top: 1068px;
    left: 682px;
    color: aqua;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
}

.my-city {
    top: 1068px;
    left: 778px;
    margin: 0;
    font-size: 28px;
    font-family: Calibri;
    color: whitesmoke;
    position: absolute;
}

.line4 {
    width: 285px;
    height: 2px;
    top: 1147px;
    left: 378px;
    background-color: white;
    position: absolute;
}

.address {
    top: 1136px;
    left: 680px;
    color: #4498f1;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
}

.my-address {
    top: 1136px;
    left: 820px;
    margin: 0;
    font-size: 28px;
    font-family: Calibri;
    color: whitesmoke;
    position: absolute;
}

.line5 {
    width: 313px;
    height: 2px;
    top: 1218px;
    left: 350px;
    background-color: white;
    position: absolute;
}

.number {
    top: 1205px;
    left: 680px;
    color: #de2ef1;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
}

.my-number {
    top: 1205px;
    left: 908px;
    margin: 0;
    font-size: 28px;
    font-family: Calibri;
    color: whitesmoke;
    position: absolute;
}

.icons {
    top: 1330px;
    left: 300px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 720px;
}

.icons a>img{
    transition-duration:0.5s
}

.icons a>img:hover{
    width: 70px;
    transition: 0.5s;
}

.button {
    display: inline-block;
    text-decoration: none;
    border: 1px solid aqua;
    border-radius: 7px;
    padding: 12px 34px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top:640px;
    left: 1180px;
    background-color: #03769a;
    color: white;
    transition-duration: 1.5s;;
}

.button:hover{
    background: transparent;
    transition: 1.5s;
}

/*end of the about me page*/

/*start of the skills page*/
.skills {
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    background: linear-gradient(to bottom left, #04091F, #04091F, #130734, #04091F, #04091F);
    margin: 0;
}

.skills .corner-image2{
    top:280vh;
}

.skills .box-area1 {
    position: absolute;
    top: 200vh;
    left: 0;
    width: 1300px;
    bottom: 0;
    height: 738px;
    overflow: hidden;
}

.skills .box-area1 li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: box-animate2 10s linear infinite;
    top: -80px;
}

.skills .box-area1 li:nth-child(1) {
    left: 40%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}


.skills .box-area1 li:nth-child(2) {
    left: 12%;
    width: 50px;
    height: 50px;
    animation-delay: 1.5s;
}

.skills .box-area1 li:nth-child(3) {
    left: 70%;
    width: 60px;
    height: 60px;
    animation-delay: 5.5s;
}

.skills .box-area1 li:nth-child(4) {
    left: 90%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.skills .box-area1 li:nth-child(5) {
    left: 65%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
}

.skills .box-area1 li:nth-child(6) {
    left: 15%;
    width: 40px;
    height: 40px;
    animation-delay: 3.5s;
}

@keyframes box-animate2 {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(800px) rotate(360deg);
        opacity: 1;
    }
}

.skills h1{
    margin: 0;
    color: mediumpurple;
    font-family: Calibri;
    font-size: 40px;
    top: 1590px;
    left: 20px;
    position: absolute;
}

.skills .gif{
    width: 50px;
    top: 72px;
    left: 110px;
    position: relative;
}

.skills .line{
    width: 1210px;
    height: 3px;
    top: 1615px;
    left: 170px;
    background-color: #3e88ba;
    position: absolute;
}

.skills .images{
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 10vh;
    top:170px;
    margin: 0;
    position: relative;
}

.skills .image-box{
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: slide 80s linear infinite;
}

@keyframes slide {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.image-box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

.image-box span img{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    width: 100%;
    height: 100%;
}


.skills-img{
    position: relative;
    width:250px;
    left:1000px;
}

.skills li{
    list-style: none;
    padding: 0;
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    width: 600px;
    left:250px;
    top:240px;
    position: relative;
}

.skills .bar{
    background-color: #2187e7;
    display: block;
    height: 5px;
    border: 1px solid rgba(0,0,0,3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 2px aqua;
}

.bar span{
    height: 5px;
    float: left;
    background: aqua;
}

.html{
    width: 90%;
    animation: html 2s;
}

.css{
    width: 80%;
    animation: css 2s;
}
.java{
    width: 90%;
    animation: java 2s;
}
.javafx{
    width: 80%;
    animation: javafx 2s;
}

.mysql{
    width: 80%;
    animation: mysql 2s;
}

.hibernate{
    width: 90%;
    animation: hibernate 2s;
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}


@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}


@keyframes java {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}


@keyframes javafx {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}


@keyframes mysql {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}


@keyframes hibernate {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

/*end of the skills page*/

/*start of the experience page*/
.experience{
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    background: linear-gradient(to bottom left, #04091F, #04091F, #130734, #04091F, #04091F);
    margin: 0;
}

.experience .corner-image2{
    position: relative;
    top:607px;
}

.experience .box-area1 {
    position: absolute;
    top: 300vh;
    left: 0;
    width: 1300px;
    bottom: 0;
    height: 738px;
    overflow: hidden;
}

.experience .box-area1 li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: box-animate3 10s linear infinite;
    top: -80px;
}

.experience .box-area1 li:nth-child(1) {
    left: 40%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.experience .box-area1 li:nth-child(2) {
    left: 12%;
    width: 50px;
    height: 50px;
    animation-delay: 1.5s;
}

.experience .box-area1 li:nth-child(3) {
    left: 70%;
    width: 60px;
    height: 60px;
    animation-delay: 5.5s;
}

.experience .box-area1 li:nth-child(4) {
    left: 90%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.experience .box-area1 li:nth-child(5) {
    left: 65%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
}

.experience .box-area1 li:nth-child(6) {
    left: 15%;
    width: 40px;
    height: 40px;
    animation-delay: 3.5s;
}

@keyframes box-animate3 {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(800px) rotate(360deg);
        opacity: 1;
    }
}

.experience-content h1{
    top: -85px;
    left: 20px;
    position: relative;
    color: mediumpurple;
    font-family: Calibri;
    font-size: 40px;
    margin: 0;
    display: inline;
}

.experience .gif{
    width: 50px;
    top:-30px;
    left: 65px;
    position: relative;
}

.experience .line{
    width: 1120px;
    height: 3px;
    top: -100px;
    left: 270px;
    background-color: #3e88ba;
    position: relative;
}

.my-experience{
    width: 300px;
    height: 80px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    /*align-items: flex-end;*/
    box-shadow: 0 7px 10px rgba(0,0,0,0.5);
    transition:0.5s ease-in-out;
}

.my-experience:hover{
    transform: translateY(20px);
    cursor: pointer;
}

.my-experience:before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s all;
    opacity: 0;
}

.my-experience:hover:before{
    opacity: 1;
}

.my-experience h3{
    color: white;
    font-family: sans-serif;
    position: absolute;
}

#schol{
    left:66vw;
    top:44vh;
    background-color: #aa0404;
}

#schol:before{
    background: linear-gradient(to bottom, rgba(160, 2, 57, 0.97), rgb(215, 113, 4));
}


#schol h3 span{
    color: #e8cb07;
}

#schol h3{
    left:25px;
    font-size: 18px;
}

#schol .description{
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    letter-spacing: 1px;
    font-size: 16px;
    left: 10px;
}

#schol:hover .description{
    opacity: 1;
    transform: translateY(0px);
    cursor: pointer;
}

#ordinary-level{
    left:-5vw;
    top:34vh;
    background-color: #d7a714;
}

#ordinary-level:before{
    background: linear-gradient(to bottom, rgba(245, 110, 6, 0.97), rgb(144, 149, 3));
}

#ordinary-level h3 span{
    color: #e80721;
}

#ordinary-level h3{
    left:25px;
    font-size: 18px;
}

#ordinary-level .description{
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    letter-spacing: 1px;
    font-size: 16px;
    left: 10px;
}

#ordinary-level:hover .description{
    opacity: 1;
    transform: translateY(0px);
    cursor: pointer;
}

#advanced-level{
    left:26.5vw;
    top:24vh;
    background-color: #ad0352;
}

#advanced-level:before{
    background: linear-gradient(to bottom, rgba(161, 24, 236, 0.97), rgb(205, 10, 178));
}

#advanced-level h3 span{
    color: #de89f6;
}

#advanced-level h3{
    left:25px;
    font-size: 18px;
}

#advanced-level .description{
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    letter-spacing: 1px;
    font-size: 16px;
    left: 10px;
}

#advanced-level:hover .description{
    opacity: 1;
    transform: translateY(0px);
    cursor: pointer;
}

#gdse{
    left:-44.5vw;
    top:13vh;
    background-color: #05b398;
}

#gdse:before{
    background: linear-gradient(to bottom, rgba(16, 73, 14, 0.97), rgb(83, 229, 57));
}

#gdse h3 span{
    color: #032282;
}

#gdse h3{
    left:25px;
    font-size: 17px;
}

#gdse .description{
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    letter-spacing: 0;
    font-size: 16px;
    left: 10px;
}

#gdse:hover .description{
    opacity: 1;
    transform: translateY(0px);
    cursor: pointer;
}

#degree{
    left:-13vw;
    top:4vh;
    background-color: #8f04c2;
}

#degree:before{
    background: linear-gradient(to bottom, rgba(27, 45, 206, 0.97), rgb(144, 42, 172));
}

#degree h3 span{
    color: #fa85f8;
}

#degree h3{
    left:25px;
    font-size: 17px;
}

#degree .description{
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    letter-spacing: 1px;
    font-size: 15px;
    left: 10px;
}

#degree:hover .description{
    opacity: 1;
    transform: translateY(0px);
    cursor: pointer;
}

.rocket{
    width:230px;
    left:42.5vw;
    top:310.5vh;
    position: absolute;
    display: inline;
    animation: animate-rocket 0.3s ease infinite;
}

@keyframes animate-rocket {
    0%,100%{
      transform: translateY(-1px);
    }
    50%{
      transform: translateY(1px);
    }
}

.line-one{
    width: 5px;
    height: 500px;
    left: 50vw;
    position: absolute;
    background-color: white;
    display:inline;
}

.lines{
    width:250px;
    height: 5px;
    position: relative;
    background-color: white;
    display: inline-block;
}

#line-two{
    left: 50vw;
    top:50vh;
}

#line-three{
    top:40vh;
    left:17.5vw;
}

#line-four{
    top:30vh;
    left: 17vw;
}

#line-five{
    top:20vh;
    left:-15.6vw;
}

#line-six{
    left: -16vw;
    top:10vh;
}

/*end of the experience page*/

/*start of the projects page*/


/*end of the projects page*/